.newsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 80%;
    margin: 10px auto;
  }
  .newsHeading{
    text-align: center;
    margin: 5rem 0;
    font-size: 3rem;
  }
  .newTitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
    color: #117db0;
  }
  .newsCard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }
  .newsCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transform: scale(1.01);
    border:solid #117db0 1px;
    transition:0.3s ease ;
  }
  
  .newsCardImage img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.5) ;
  }
  
  .newsCardText h3 {
    margin: 10px 0;
  }
  
  .newsCardText p {
    color: #777;
  }
  
  .newsCardText a {
    display: block;
    margin-top: 10px;
    color: #117db0;
    text-decoration: none;
  }

  .newsCardText a:hover {
    text-decoration: underline;
  }
  
  .loadMoreWrapper {
    position: relative;
    text-align: center;
  }
  
  .loadMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #117db0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .loadMoreButton:hover {
    background-color: #0056b3;
  }
  @media screen and (max-width: 1024px) {
    .newsContainer {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .newsContainer {
      grid-template-columns: 1fr;
      justify-items: flex-start;
    }
  }
  
 
