.servicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    padding: 3rem;
  }
  
  .servicesHeading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000;
  }
  
  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
  }
  
  .serviceCard {
    position: relative;
    perspective: 1000px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
    .serviceCard:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        border: solid #117db0 1px ;
        border-radius: 10px;
    }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .cardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .cardFront,
  .cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: #fff;
  }  
  .cardBack {
    transform: rotateY(180deg);
  }
  
  .serviceIcon {
    font-size: 50px;
    margin-bottom: 10px;
    color: #117db0;
  }
  
  .serviceTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .serviceText {
    font-size: 15px;
    text-align: center;
  }
  
  @media only screen and (max-width: 960px) {
    .cardWrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .cardWrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    .servicesContainer {
      height: 100%;
      overflow-y: scroll !important;
    }
  }
  