.full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 3rem 0;
}
.contactHeading {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  padding: 3rem 0;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  padding: 20px;
}
.contactCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease;
  cursor: pointer;
  width:450px;
  background-color: #fff;
}
.contactCard h2 { 
  margin-bottom: 20px;
  text-align: flex-start;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #117db0;
}
.contact-form .form-control:focus {
  outline: none;
  box-shadow: none;
}
.contact-form .submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #117db0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}
.contact-form .submit-btn:hover {
  background-color: #fff; 
  color: #117db0;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
  border: #117db0 solid 0.1px;
}
.map-iframe {
  border: none;
  width: 100%;
  height: 80%;
}
.submission-success {
  color: green;
  font-weight: bold;
}

.submission-error {
  color: red;
  font-weight: bold;
}

