.aboutContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
}
.genContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    height: 100vh;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    padding-top: 10rem;
}
.Genesis_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.genHeading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #49c2fa;
    border-left:.4em solid #49c2fa ;
    padding-left: 1rem;
}
.genText{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.6;
    text-align: left;
    max-width: 80%;
}
.listContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0 1rem;
    margin-bottom: 100px;
}
.genContent2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.genHeading2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0px;
    color: #49c2fa;
}
.genText2{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.6;
    text-align: center;
    max-width: 50%;
    margin: auto;
}
.genLogo1{
    width: 50px;
    height: 50px;
    color: #49c2fa;
    margin-bottom: -20px;
    margin-top: 20px;
}
.headingContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.genContent2:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .genContent {
      height: fit-content;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      
    }
    .genHeading{
        font-size: 2rem;
      margin-top: 30px;
      border: none; 
      padding-left: 0; 
    }
    .genText{
        font-size: 0.9rem;
        max-width: 100%;
    }
    .listContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .genHeading2{
        font-size: 1rem;
    }
    .genText2{
        font-size: 0.8rem;
        max-width: 100%;
    }
}
  
