/* Footer Container */
.footer {
  background-color: #dedcdc;
  color: #000000;
  padding: 30px 0;
  font-family: 'Open Sans', sans-serif;
  position: s;
  margin-top: 10px;
}

/* Footer Content Container */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Footer Logo */
.Footer-logo {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.Footer-item {
  margin-right: 20px;
}

.Footer-links {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-style: italic;
  position: relative;
}

/* Animated Border for Footer Navigation Links */
.Footer-links::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #117db0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

/* Style for the Footer Navigation Links on hover */
.Footer-links:hover {
  color: #117db0; /* Vibrant hover color */
}

.Footer-links:hover::before {
  transform: scaleX(1);
}

/* Social Media Icons */
.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover style for social media icons */
.social-media-icons a:hover {
  color: #117db0;
}

/* Footer Grid for Links */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 20px;
  list-style: none;
  display: flex;
  margin: 20px 0;
  padding: 0;
}


/* Copyright Text */
.copy-rights {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .Footer-logo {
    text-align: center;
  }
  .Footer-links {
    color: #000000;
    text-decoration: none;
    font-size: 10px;
    font-style:normal;
    position: relative;
  }
  .social-media-icons {
    margin-top: 10px;
  }
}
