/* Partners.css */
.slider-container {
  max-width: 90%;
  margin: 5rem auto;
}
.partnersHeading{
  text-align: center;
    margin: 20px 0;
    font-size: 3rem;
}

.slider-container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.slider-container .slick-slide img {
  width: 120px;
  height: 120px;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 24px;
  line-height: 1;
  opacity: 1;
  color: black; /* Set the arrow color to black */
}

@media screen and (max-width: 600px) {
  .slick-prev,
  .slick-next {
    visibility: hidden; 
  }
}
