.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: absolute ;
  left: 0;
  right: 0;
  width: 95%;
  margin: auto;
  top:1vh;
  z-index: 999;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.other-navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: absolute ;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  background-color: #222;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  /* font-size: 1.2rem; */
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  margin: auto;
  justify-content: center;
 
}

.nav-item {
  display: flex;
  align-items: center;
  height: 50px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: transparent solid;
}
.nav-links:hover {
  color: #117db0 ;
  transition: all 0.2s ease-out;
}
.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.mobile-trigger{
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 10px;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;

  }
  .aboutSection{
    display: flex;
    align-items: center;
    margin: auto;
  }
  .mobile-trigger{
    right: 20%;
    margin-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    display: table;
    
    margin: auto;
  }

  .nav-links:hover {
    background-color: #117db0;
    border-radius: 0;
  }
  .large-trigger{
    display: none;
  }
  .mobile-trigger{
    display: block;
    position: absolute;
    

  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(25%, 50%); */
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -30%;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 10px auto;
    border-radius: 10px;
    width: 50%;
    border: #117db0 solid;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #117db0;
    transition: 250ms;
  }
}
