
.containerWrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    height: auto;
  }
  .containerWrapper::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%), url('../../images/image-2.jpg') no-repeat center center/cover fixed;
    z-index: -1;
}
  
  .profileContainer {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin: 4rem;
    background-color: #fff;
    border-radius: 40px 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    justify-items: center;
    align-items: center;
    height: 200px;
  }
  .profileContainer:hover {
    transform: scale(1.05);
  }
  
  .profileImg {
    width:200px;
    height: 100%;
    object-fit: cover;
    border-radius: 70% 30% 50% 30%;
    position: relative;
    padding: 10px;
    overflow: hidden;
  }
  .profileContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
    .profileContent h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .profileContent p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .profileSocials{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .profileSocials a {
        font-size: 1.5rem;
        color: #000;
        transition: all 0.3s ease-in-out;
    }
    .profileSocials a:hover {
        color: #117db0;
        text-decoration: underline;
    }

    .profileContent a:hover {
        color: #117db0;
        text-decoration: underline;
    }
    @media screen and (max-width: 768px){
        .containerWrapper {
            grid-template-columns: 1fr;
        }
        .profileContainer {
            width:90%;
            margin: 0 auto;
            margin-top:4rem ;
            margin-bottom: 4rem;
            grid-template-columns: 1fr 1fr;
            
        }
        .profileImg {
            width: 90%;
            height: 80%;
        }
        .profileContent{
            align-items: center;
        }
    }
  