.login_container {
	width: 100%;
	min-height: 100vh;
	background-image: url("/public/login.png");
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	margin-top: 2rem;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.login_left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.login_right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #117db0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.login_right h1 {
	margin-top: 0;
	color: white;
	font-size: 40px;
	align-self: center;
}

.loginW_btn,
.loginB_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.loginB_btn {
	background-color: #117db0;
	color: white;
	margin: 10px;
	border: solid ;
}
.loginB_btn:hover{
	border: #117db0 solid;
	color: black;
	margin: 10px;
	background-color: white;
	transition: all 0.6 ease-in-out;
}
.loginW_btn:hover{
	border: white solid;
	color: white;
	margin: 10px;
	background-color: #117db0;
	transition: all 0.6 ease-in-out;
}
@media screen and (max-width: 768px) {
    .login_form_container {
        width: 100%;
        height: auto;
        flex-direction: column;
        border-radius: 0;
        box-shadow: none;
    }

    .login_left,
    .login_right {
        border-radius: 0;
    }

    .login_right h1 {
        font-size: 28px;
    }

    .input,
    .error_msg {
        width: 100%;
        max-width: 370px;
        padding: 10px;
        font-size: 12px;
    }

    .error_msg {
        padding: 10px;
        font-size: 12px;
    }

    
}