.programsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #999;
  }
.programsContainer::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -1;
    background-color: #999;
}
.programsHeading {
    padding-top: 10rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .programsSubheading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .programsLink {
    color: #117db0;
    text-decoration: none;
  }
  
  .programsLink:hover{
    color:#fff;
}
  
  
  .programContainer {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    perspective: 1000px;
    transition: transform 0.2s;
  }
  .programContainer:hover{
    transform: scale(1.05)
  }
  
  .programContainer:hover .programCardInner {
    transform: rotateY(180deg);
  }
  
  .programCard {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .programCardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .programCardFront,
  .programCardBack {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
  }
  
  .programCardBack {
    transform: rotateY(180deg);
  }
  .programTitle {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .programDescription,.programInfo {
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 16px;
  }
  
  .programDetails {
    display: flex;
    justify-content: space-between;
  }
  
  .programDuration,
  .programStart{
    font-size: 14px;
    color: #245382;
  }
  .programTitle,
.programDescription,
.programInfo {
    padding: 10px;
}
.programButton{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #245382;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.programButton:hover{
    background-color: #fff;
    color: #245382;
}
@media
only screen and (max-width: 600px) {
    .programsHeading{
        font-size: 2rem;  
    }
    .programsSubheading{
        font-size: 1rem;
        
    }
    
}
